{% extends "layout1.html" %}

{% block content %}
  <main class="container signup-section">
    <div class="section-content">
      <h2>Check sign of price change</h2>

      <div class="btn-group" role="group" aria-label="Basic example">
     <button id="sample1" class="btn-primary" >Fill form -Sample1</button>
     <button id="sample2" class="btn-primary" >Fill form -Sample2</button>
     <button id="sample3" class="btn-primary" >Fill form -Sample3</button>
     </div>

      <form method="POST" id ="MyForm" action="/classification">
        {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.avg_block_size.label }}
            {{ form.avg_block_size }}
          </div>
          <div class="form-group">
            {{ form.cost_per_transaction.label }}
            {{ form.cost_per_transaction }}
          </div>
          <div class="form-group">
            {{ form.difficulty.label }}
            {{ form.difficulty }}
          </div>
          <div class="form-group">
            {{ form.estimated_transaction_volume.label }}
            {{ form.estimated_transaction_volume }}
          </div>
          <div class="form-group">
            {{ form.hash_rate.label }}
            {{ form.hash_rate }}
          </div>
          <div class="form-group">
            {{ form.market_cap.label }}
            {{ form.market_cap }}
          </div>
          <div class="form-group">
            {{ form.median_confirmation_time.label }}
            {{ form.median_confirmation_time }}
          </div>
          <div class="form-group">
            {{ form.miners_revenue.label }}
            {{ form.miners_revenue }}
          </div>
          <div class="form-group">
            {{ form.n_orphaned_blocks.label }}
            {{ form.n_orphaned_blocks }}
          </div>
          <div class="form-group">
            {{ form.n_transactions.label }}
            {{ form.n_transactions }}
          </div>
          <div class="form-group">
            {{ form.n_transactions_per_block.label }}
            {{ form.n_transactions_per_block }}
          </div>
          <div class="form-group">
            {{ form.n_unique_addresses.label }}
            {{ form.n_unique_addresses }}
          </div>
          <div class="form-group">
            {{ form.total_bitcoins.label }}
            {{ form.total_bitcoins }}
          </div>
          <div class="form-group">
            {{ form.transaction_fees.label }}
            {{ form.transaction_fees }}
          </div>
          <div class="form-group">
            {{ form.transaction_to_trade_ratio_D.label }}
            {{ form.transaction_to_trade_ratio_D }}
          </div>
          <div class="form-group">
            {{ form.up_down_same.label }}
            {{ form.up_down_same }}
          </div>

        {{ form.submit(class="btn-primary") }}

      </form>
    </div>
  </main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script>
	function populate(frm, data) {
	  $.each(data, function(key, value){
	    $('[name='+key+']', frm).val(value);
	  });
	}
data1 = {
'Column 0': "1",   
"avg-block-size" : "0.967617979592",
"cost-per-transaction" : "9.457037685",
"difficulty" : "521839702599.0",
"estimated-transaction-volume" : "299790.688729",
"estimated-transaction-volume-usd" : "403324576.013",
"hash-rate" : "3814281.6337",
"market-cap" : "21926056741.3",
// "market-price" : "1345.3539125",
"median-confirmation-time" : "20.25",
"miners-revenue" : "2725014.34977",
"n-orphaned-blocks" : "0.0",
"n-transactions" : "297884.0",
"n-transactions-per-block" : "2026.42176871",
"n-unique-addresses" : "554691.0",
"total-bitcoins" : "16297612.5",
"transaction-fees" : "256.44731571",
"transaction_to_trade_ratio_D": "",
"up_down_same": "0"
}



data2 = {
'Column 0': "1",
"avg-block-size" : "0.966010324324",
"cost-per-transaction" : "8.34219325569",
"difficulty" : "520808749422.0",
"estimated-transaction-volume" : "306659.177474",
"estimated-transaction-volume-usd" : "392344255.717",
"hash-rate" : "3831652.41717",
"market-cap" : "20846606998.6",
// "market-price" : "1279.4146875",
"median-confirmation-time" : "24.675",
"miners-revenue" : "2615123.62125",
"n-orphaned-blocks" : "0.0",
"n-transactions" : "325387.0",
"n-transactions-per-block" : "2198.56081081",
"n-unique-addresses" : "580200.0",
"total-bitcoins" : "16293862.5",
"transaction-fees" : "271.62738431",
"transaction_to_trade_ratio_D": "",
"up_down_same": "0"
};
data3={
'Column 0': "1",  
"avg-block-size" : "0.947631065359",
"cost-per-transaction" : "11.5206570483",
"difficulty" : "520808749422.0",
"estimated-transaction-volume" : "159473.77434",
"estimated-transaction-volume-usd" : "216214543.25",
"hash-rate" : "3961100.13396",
"market-cap" : "22086609057.5",
// "market-price" : "1257.9881125",
"median-confirmation-time" : "14.3",
"miners-revenue" : "2732614.9",
"n-orphaned-blocks" : "0.0",
"n-transactions" : "245039.0",
"n-transactions-per-block" : "1601.5620915",
"n-unique-addresses" : "490003.0",
"total-bitcoins" : "16290462.5",
"transaction-fees" : "169.67309519",
"transaction_to_trade_ratio_D": "",
"up_down_same": "0"
};
	$( document ).ready(function() {
	$("#sample1").click(function(){
       populate('#MyForm', data1);
    });
    $("#sample2").click(function(){
       populate('#MyForm', data2);
    });
    $("#sample3").click(function(){
       populate('#MyForm', data3);
    });
		
    	console.log( "ready!" );
	});
	
  </script>


{% endblock %}
