{% extends "layout1.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>Get Bitcoin Price</h2>
    
    <div class="btn-group" role="group" aria-label="Basic example">
     <button id="sample1" class="btn-primary" >Fill form -Sample1</button>
     <button id="sample2" class="btn-primary" >Fill form -Sample2</button>
     <button id="sample3" class="btn-primary" >Fill form -Sample3</button>
 </div>
    <main class="container signup-section">
    <div class="section-content">
      

      <form method="POST" action="/success" id="MyForm">
        {{ form.hidden_tag() }}
          <div class="form-group" style="display:none;">
          
          {{ form.id1.label }}
          {{ form.id1 }}
        </div>

        <div class="form-group">
        	
          {{ form.width.label }}
          {{ form.width }}
        </div>
        <div class="form-group" style="display:none;">
          {{ form.mid.label }}
          {{ form.mid}}
        </div>

        <div class="form-group" style="display:none;">
          {{ form.mid30.label }}
          {{ form.mid30 }}
        </div>

        <div class="form-group">
          {{ form.imbalance2.label }}
          {{ form.imbalance2 }}
        </div>
        <div class="form-group">
          {{ form.adj_price2.label }}
          {{ form.adj_price2 }}
        </div>
        <div class="form-group">
          {{ form.imbalance4.label }}
          {{ form.imbalance4 }}
        </div>


        <div class="form-group">
          {{ form.adj_price4.label }}
          {{ form.adj_price4 }}
        </div>
        <div class="form-group">
          {{ form.imbalance8.label }}
          {{ form.imbalance8 }}
        </div>
        <div class="form-group">
          {{ form.adj_price8.label }}
          {{ form.adj_price8 }}
        </div>
        <div class="form-group">
          {{ form.t30_count.label }}
          {{ form.t30_count }}
        </div>
        <div class="form-group">
          {{ form.t30_av.label }}
          {{ form.t30_av }}
        </div>
        <div class="form-group">
          {{ form.agg30.label }}
          {{ form.agg30 }}
        </div>
        <div class="form-group">
          {{ form.trend30.label }}
          {{ form.trend30 }}
        </div>
        <div class="form-group">
          {{ form.t60_count.label }}
          {{ form.t60_count }}
        </div>
        <div class="form-group">
          {{ form.t60_av.label }}
          {{ form.t60_av }}
        </div>
        <div class="form-group">
          {{ form.agg60.label }}
          {{ form.agg60 }}
        </div>
        <div class="form-group">
          {{ form.trend60.label }}
          {{ form.trend60 }}
        </div>
        <div class="form-group">
          {{ form.t120_count.label }}
          {{ form.t120_count }}
        </div>
        <div class="form-group">
          {{ form.t120_av.label }}
          {{ form.t120_av }}
        </div>
        <div class="form-group">
          {{ form.agg120.label }}
          {{ form.agg120 }}
        </div>
        <div class="form-group" >
          {{ form.trend120.label }}
          {{ form.trend120 }}
        </div>
        <div class="form-group">
          {{ form.t180_count.label }}
          {{ form.t180_count }}
        </div>
        <div class="form-group">
          {{ form.t180_av.label }}
          {{ form.t180_av }}
        </div>
        <div class="form-group">
          {{ form.agg180.label }}
          {{ form.agg180 }}
        </div>
        <div class="form-group" >
          {{ form.trend180.label }}
          {{ form.trend180 }}
        </div>

        {{ form.submit(class="btn-primary") }}

      </form>

    </div>

	</main>

  	

    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script>
	function populate(frm, data) {
	  $.each(data, function(key, value){
	    $('[name='+key+']', frm).val(value);
	  });
	}
data1 =   {
    "id1": "1493266297.34",
    "width": "0.7",
    "mid": "1402.15",
    "mid30": "-0.000213980029347",
    "imbalance2": "1.19252281779",
    "adj_price2": "0.00147024340227",
    "imbalance4": "1.04138024247",
    "adj_price4": "0.00174402620742",
    "imbalance8": "1.02179712929",
    "adj_price8": "0.00194924797377",
    "t30_count": "4.0",
    "t30_av": "0.000215905055326",
    "agg30": "-1.76253862",
    "trend30": "0.0023166023166",
    "t60_count": "6.0",
    "t60_av": "0.000196376083476",
    "agg60": "-1.67092967",
    "trend60": "-0.0350877192982",
    "t120_count": "36.0",
    "t120_av": "0.000106280831141",
    "agg120": "-8.55954034",
    "trend120": "-0.000945357692092",
    "t180_count": "42.0",
    "t180_av": "-2.38599092416e-07",
    "agg180": "-8.13031802",
    "trend180": "-0.00489846937083"
  };


data3={
    "id1": "1493266746.05",
    "width": "1.5",
    "mid": "1398.55",
    "mid30": "0.000750495898564",
    "imbalance2": "3.62640929059",
    "adj_price2": "0.00192534576705",
    "imbalance4": "0.939304281322",
    "adj_price4": "0.00221812915003",
    "imbalance8": "-0.112379575677",
    "adj_price8": "0.00234285704296",
    "t30_count": "21.0",
    "t30_av": "-0.000852551710645",
    "agg30": "-4.87771808",
    "trend30": "-0.0387212389381",
    "t60_count": "23.0",
    "t60_av": "-0.000896567985571",
    "agg60": "-5.60995487",
    "trend60": "-0.0259647232902",
    "t120_count": "30.0",
    "t120_av": "-0.00102094647314",
    "agg120": "-11.30626516",
    "trend120": "-0.012267858462",
    "t180_count": "31.0",
    "t180_av": "-0.00102148626805",
    "agg180": "-11.31626516",
    "trend180": "-0.0121684743884"
  };
  data2={
  "id1": "1492736072.66",
  "width": "0.7",
  "mid": "1309.95",
  "mid30": "7.63358778997e-05",
  "imbalance2": "1.93980491252",
  "adj_price2": "0.00265301374598",
  "imbalance4": "-0.987699357915",
  "adj_price4": "0.00284104483811",
  "imbalance8": "-1.54179414357",
  "adj_price8": "0.00296726029111",
  "t30_count": "0.0",
  "t30_av": "0.0",
  "agg30": "0.0",
  "trend30": "0.0",
  "t60_count": "0.0",
  "t60_av": "0.0",
  "agg60": "0.0",
  "trend60": "0.0",
  "t120_count": "2.0",
  "t120_av": "0.00025356575465",
  "agg120": "-0.4272059",
  "trend120": "0.0",
  "t180_count": "4.0",
  "t180_av": "0.000146676822341",
  "agg180": "-2.3316459",
  "trend180": "-0.0102040816327"
};
	$( document ).ready(function() {
	$("#sample1").click(function(){
       populate('#MyForm', data1);
    });
    $("#sample2").click(function(){
       populate('#MyForm', data2);
    });
    $("#sample3").click(function(){
       populate('#MyForm', data3);
    });
		
    	console.log( "ready!" );
	});
	
  </script>
{% endblock %}